
@{
    ViewBag.Title = "dv";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>dv</h2>
<center>
<table border="1">
    <tr>
        <th>Dịch dụ </th>
        <th>Giá Dịch Dụ</th>
        <th>Tên Dịch Dụ </th>
        <th>Loại dịch vụ </th>
    </tr>
    <tr>
        <td>Dich vu Buffer trưa</td>
        <td>300.000</td>
        <td> Buffer trưa</td>
        <td>Người lớn </td>
    </tr>
    <tr>
        <td>Dich vu đi Cap-treo</td>
        <td>400.000</td>
        <td>Cap-treo</td>
        <td>Người lớn </td>
    </tr>
    <tr>
        <td>Dich vu đi Tàu - Lửa</td>
        <td>250.000</td>
        <td>Tàu - Lửa</td>
        <td>Người lớn </td>
    </tr>
</table>
    </center>