
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/gt.css" rel="stylesheet" />
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <center>
                <img src="~/Content/ba-na-hill-2.png" />
                    </center>
                <p style=" font-size: 25px ;color:red">Tổng Quan Về Bà Nà Hills </p>
                <p>Bà Nà Hills đã và đang trở thành chốn bồng lai tiên cảnh ở hạ giới thu hút ngàn lượt du khách cho thành phố Đà Nẵng. Cùng nhóm tụi mình khám phá cận cảnh địa điểm du lịch mê hồn người này nhé!</p>
                <hr>
                <center>
                <img src="~/Content/backgroung-4.jpg" />
                    </center>
                <p style=" font-size: 25px ;color:red"> Cáp treo Bà Nà</p>
                <p>Cáp treo Bà Nà là một trong mười tuyến cáp treo ấn tượng nhất thế giới với tổng 201cabin và ba tuyến cáp treo: Suối Mơ – Bà Nà, Debay – Morin, Thác Tóc Tiên – L’Indochine.Đặc biệt, tuyến cáp treo Thác Tóc Tiên – L’Indochine là hệ thống cáp treo một dây dài nhất thế giới và là tuyến cáp treo có độ cao chênh lệch giữa ga đi và ga đến cao nhất thế giới.</p>
                <hr />
            </div>
            <div class="col-2">
                <div class="foot-col-1">
                    <hr>
                    <center>
                        <img src="~/Content/backgrounf_gt.jpg" />
                        </center>
                        <p style=" font-size: 25px ;color:red">Cầu Vàng</p>
                        <p>Đây là địa điểm du lịch Bà Nà Hills hot nhất, tuyệt tác lớn nhất giữa núi rừng. Với độ cao hơn 1487m, Cầu Vàng lấp ló dưới ánh nắng bình minh, ngay cả lúc chiều tà cũng mang đến một vẻ đẹp hùng vĩ.</p>
                </div>

                <div class="foot-col-2">
                    <hr>
               <center>    <img src="~/Content/pr-lp.jpg" /> </center>
                    <p style=" font-size: 25px ;color:red">Làng Pháp Bà Nà Hills</p>
                    <p>Một khu vực tổng thể các kiến trúc mang đậm nét của Pháp vô cùng cổ kính nhưng cũng có chút nét hiện đại. Khu làng Pháp được xây dựng từ nguồn cảm hứng từ một khu vực nước Pháp với những địa
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

